# Файлы кэша Python
__pycache__/
*.pyc

# Папки виртуального окружения (если используете)
venv/
.venv/
env/
ENV/

# Файлы IDE/редактора (примеры)
.idea/
.vscode/

# Другие временные или локальные файлы
*.log
*.tmp